body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eaa642;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .logo img {
  max-width: 100px;
} */

h1 {
  font-size: 24px;
  margin: 20px 0;
}

.lets-go-button {
  background-color: #007bff;
  /* Blue color, you can change this */
  color: #fff;
  /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lets-go-button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.login-button {
  margin-top: 20px;
  font-size: 16px;
}

.login-button a {
  color: #007bff;
  /* Blue color for the link */
  text-decoration: none;
}

.login-button a:hover {
  text-decoration: underline;
  /* Underline the link on hover */
}

.circle {
  width: 100px;
  /* Adjust the size as needed */
  height: 100px;
  /* Adjust the size as needed */
  background-color: #007BFF;
  /* Set the background color of the circle */
  border-radius: 50%;
  /* Make it a circle */
  margin: 0 auto;
  /* Center the circle horizontally */
}

/* Style for the text "Deft Detective" */
.landing-page .logo span {
  display: block;
  /* Display the text on a new line */
  text-align: center;
  /* Center the text */
  font-size: 24px;
  /* Adjust the font size as needed */
  margin-top: 10px;
  /* Adjust the space between the circle and text */
}