body {
  margin: 10px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e2b470;
}

.landing-page {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 200px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #678fc0;
  border-radius: 50%;
  margin: 0 auto;
}

h2 {
  font-size: 17px;
  margin: 40px 0;
}

.stepscircle {
  display: flex;
  margin: 30px 0;
}

.circle-small {
  width: 50px;
  height: 50px;
  background-color: #a98dcc;
  border-radius: 50%;
  margin: 0 auto;
}

.circle-small h3 {
  font-size: 16px;
  color: white;
}

.lets-go-button:hover {
  background-color: #234e78;
}

.lets-go-button {
  background-color: #3772ae;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 46px;
}