body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eaa642;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
}

.lets-go-button {
  background-color: #2b65a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lets-go-button:hover {
  background-color: #234e78;
}

.login-button {
  margin-top: 20px;
  font-size: 16px;
}

.login-button a {
  color: #2b65a0;
  text-decoration: none;
}

.login-button a:hover {
  text-decoration: underline;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #494d52;
  border-radius: 50%;
  margin: 0 auto;
}

.landing-page .logo span {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}